.striped-bars {
    width: 100%;
    position: relative;
    overflow: hidden;
    --striped-bars-x-axis: 0vw;
    --striped-bars-opacity: 1;
    --striped-bars-text-opacity: 1;
    --striped-bars-skew: skew(-8deg);
    --striped-bars-width: 5vw;
}

.striped-bars > img {
    height: 70vh;
}

.striped-bars > div:not(:last-child) {
    width: var(--striped-bars-width);
    height: 100%;
    position: absolute;
    top: 0;
    /* left: -7vw; */
    opacity: var(--striped-bars-opacity);
    transform: var(--striped-bars-skew);
}

.striped-bars > div:nth-child(even):not(.main-text){
    background-color: var(--color-secondary);
    box-shadow: 0.5vw 0vh 1em var(--color-shadow-blue);
}

.striped-bars > div:nth-child(odd):not(.main-text){
    background-color: var(--color-primary);
}

.striped-bars > div.main-text {
    position: absolute;
    top: 8vh;
    right: calc(var(--striped-bars-x-axis) + 5vw);
    width: 35vw;
}

.striped-bars > div.main-text > h4 {
    margin: 0;
    font-family: 'Cambay', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    opacity: var(--striped-bars-text-opacity);
}

.striped-bars > div.main-text > p {
    font-family: 'Cambay', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.05em;
    color: white;
    opacity: var(--striped-bars-text-opacity);
}

.striped-bars > div.main-text > p > strong {
    color: var(--color-dark-blue);
}

.striped-bars > div.stripe1 {
    right: var(--striped-bars-x-axis);
}

.striped-bars > div.stripe2 {
    right: calc(var(--striped-bars-x-axis) + var(--striped-bars-width)*1);
}

.striped-bars > div.stripe3 {
    right: calc(var(--striped-bars-x-axis) + var(--striped-bars-width)*2);
}

.striped-bars > div.stripe4 {
    right: calc(var(--striped-bars-x-axis) + var(--striped-bars-width)*3);
}

.striped-bars > div.stripe5 {
    right: calc(var(--striped-bars-x-axis) + var(--striped-bars-width)*4);
}

.striped-bars > div.stripe6 {
    right: calc(var(--striped-bars-x-axis) + var(--striped-bars-width)*5);
}

.striped-bars > div.stripe7 {
    right: calc(var(--striped-bars-x-axis) + var(--striped-bars-width)*6);
}

.striped-bars > div.stripe8 {
    right: calc(var(--striped-bars-x-axis) + var(--striped-bars-width)*7);
}

.striped-bars > div.stripe9 {
    right: calc(var(--striped-bars-x-axis) + var(--striped-bars-width)*8);
}

.striped-bars > div.stripe10 {
    right: calc(var(--striped-bars-x-axis) + var(--striped-bars-width)*9);
}

.striped-bars > div.stripe11 {
    right: calc(var(--striped-bars-x-axis) + var(--striped-bars-width)*10);
}

.striped-bars > div.stripe1{
    width: calc(var(--striped-bars-width)*2);
    right: calc(var(--striped-bars-x-axis) - var(--striped-bars-width));
}