div.desktop-project {
    /* height: 60vh; */
    position: relative;
    margin: 3vh 2vw;
    padding: 0;
    margin-top: 10vh;
}

div.desktop-project > img {
    width: 35vw;
    margin: 0 3vw;
}

div.desktop-project > div.description {
    width: 33vw;
    margin: 4vh 4vw;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

div.desktop-project > div.description > h2 {
    font-family: 'Cambay', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2vw;
    color: black;
    margin: 0;
}

div.desktop-project > div.description > p {
    font-family: 'Cambay', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.4vw;
    color: #6A6A6A;
}

div.desktop-project > div.description > p > strong {
    color: black;
}

@media (max-width: 1040px){
    div.desktop-project {
        position: static;
    }

    div.desktop-project > img {
        width: calc(100vw - 12vw);
        margin: 0 6vw;
    }

    div.desktop-project > div.description {
        width: calc(100vw - 20vw);
        padding-right: 10vw;
        position: static;
    }

    div.desktop-project > div.description > h2 {
        align-self: center;
        margin-left: 2vw;
    }

    div.desktop-project > div.description > p {
        margin-left: 2vw;
        margin-right: 2vw;
    }
}