.floating-bar {
    position: relative;
    overflow: hidden;
    --floating-bar-skew: skew(-12deg);
    --floating-bar-x-axis: 0vw;
    --floating-bar-opacity: 0.9;
    --floating-bat-text-opacity: 1;
}

.floating-bar > img {
    width: 75vw;
}

.floating-bar > .main-bar {
    width: 40vw;
    height: 100%;
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    right: calc(var(--floating-bar-x-axis) - 7vw);
    opacity: var(--floating-bar-opacity);
    transform: var(--floating-bar-skew);
}

.floating-bar > .main-bar + .bar {
    width: 5vw;
    height: 100%;
    background-color: var(--color-secondary);
    position: absolute;
    top: 0;
    right: calc(var(--floating-bar-x-axis) + 34vw);;
    opacity: var(--floating-bar-opacity);
    transform: var(--floating-bar-skew);
}

.floating-bar > .main-text {
    position: absolute;
    top: 32vh;
    right: 0;
    width: 30vw;
}

.floating-bar > .main-text > h4 {
    font-family: 'Cambay', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.6vw;
    color: white;
    margin: 0;
    opacity: var(--floating-bat-text-opacity);
}

.floating-bar > .main-text > p {
    font-family: 'Cambay', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
    color: white;
    opacity: var(--floating-bat-text-opacity);
}

.floating-bar > .main-text > p > strong {
    color: var(--color-dark-blue);
}

@media (max-width: 1040px) {
    .floating-bar > .main-text {
        top: 10vh;
    }
}